.layout
  &-title
    font-size: rem(40px)
    text-transform: uppercase
    text-align: center

  &-list
    margin: 0 auto

  &-grid
    vertical-align: middle

    &-content
      height: 80vh
      width: 100vw

    &-wide
      height: 60vh
      width: 100vw

  &-container
    padding-top: 10px
    padding-bottom: 15px

    padding-left: 25px
    padding-right: 25px
