.layout
  &-title
    font-size: rem(40px)
    text-transform: uppercase
    text-align: center

  &-list
    margin: 0 auto

  &-content-grid
    height: 100vh
    vertical-align: middle

  &-inner-grid
    vertical-align: middle

    padding-top: 5px
    padding-bottom: 15px

    padding-left: 25px
    padding-right: 25px

  &-button
    background: #3F51B5
